<IfModule mod_rewrite.c>
    Options +FollowSymlinks
    RewriteEngine On
</IfModule>

<IfModule mod_rewrite.c>
   RewriteEngine On
  RewriteBase /
 RewriteRule ^admin/adminer.php admin/adminer.php [L]
  RewriteCond %{REQUEST_URI} !^public
  RewriteCond %{REQUEST_URI} !\.(rar)$
  RewriteCond %{REQUEST_URI} !\.(csv)$

  RewriteCond %{REQUEST_URI} !\.s$


  RewriteCond $1 !^(images/)
  RewriteCond $1 !^(userfiles/)

  RewriteRule ^(.*)$ app/web/$1 [L]
</IfModule>