<div class="crumbs">
    <ul>
        <li><a href="/">Главная</a></li>
        <li><a href="/">Предыдущая старница</a></li>
        <li><a href="/">Следующая старница</a></li>
    </ul>
</div>
<div class="about-page">
    <h1>{{ news.info.title }}</h1>
    {{ news.info.text|raw }}
</div>